.jss85 {
    flex-grow: 1;
}

.jss1298 {
    width: 100%;
    background-color: #FAFAFA;
}

.jss1299 {
    margin: 0 auto;
    max-width: 1296px;
    background-color: #FAFAFA;
}

@media (min-width: 1024px) {
    .jss1299 {
        padding-bottom: 48px;
    }
}

@media (min-width: 1440px) {
    .jss1299 {
        width: calc(100% - 144px);
    }
}

.jss1301 {
    padding: 0 16px;
}

@media (min-width: 420px) {
    .jss1301 {
        padding: 0 24px;
    }
}

@media (min-width: 768px) {
    .jss1301 {
        padding: 0 112px;
    }
}

@media (min-width: 1024px) {
    .jss1301 {
        padding: 0 40px;
    }
}

@media (min-width: 1200px) {
    .jss1301 {
        padding: 0 72px;
    }
}

@media (min-width: 1440px) {
    .jss1301 {
        padding: 0;
    }
}

.jss1309 {
    width: 100%;
    margin: 0;
}

@media (min-width: 768px) {
    .jss1309 {
        padding: 0 112px;
    }
}

@media (min-width: 1024px) {
    .jss1309 {
        padding: 0 40px;
    }
}

@media (min-width: 1200px) {
    .jss1309 {
        padding: 0 72px;
    }
}

@media (min-width: 1440px) {
    .jss1309 {
        padding: 0;
    }
}

.MuiGrid-grid-xs-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}

@media (min-width: 1024px) {
    .MuiGrid-grid-lg-7 {
        flex-grow: 0;
        max-width: 58.333333%;
        flex-basis: 58.333333%;
    }
}

@media (min-width: 1440px) {
    .jss1320 {
        max-width: calc(66.6667%);
        flex-basis: calc(66.6667%);
    }
}

@media (min-width: 1440px) {
    .jss1312 {
        padding-right: 24px;
    }
}

.jss1324 {
    position: relative;
}

@media (min-width: 768px) {
    .jss1324 {
        border-radius: 8px;
    }
}

.jss1325 {
    width: 100%;
    border: 1px solid #EAEAEA;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    border-bottom: none;
    justify-content: center;
}

@media (min-width: 768px) {
    .jss1325 {
        border-radius: 8px 8px 0px 0px;
    }
}

.jss1343 {
    display: flex;
    z-index: 1;
    align-items: center;
}

.jss1336 {
    top: 16px;
    right: 16px;
    z-index: 1;
    position: absolute;
}

.jss41 {
    color: #353535;
    background-color: #fff;
}

.jss1345 {
    width: 40px;
    height: 40px;
    padding: 0px;
    min-width: 0px;
    min-height: 0px;
    border-radius: 4px;
}

.jss1340 {
    box-shadow: none;
    border-color: #EAEAEA;
}

.jss1340.MuiButtonBase-root {
    border-radius: 50%;
}

@media (min-width: 1440px) {
    .jss1351 {
        max-width: calc(33.3333%);
        flex-basis: calc(33.3333%);
    }
}

.jss1355 {
    width: 100%;
    display: flex;
    padding: 0px 24px 8px 24px;
    flex-wrap: wrap;
}

@media (min-width: 420px) {
    .jss1355 {
        padding: 0px 24px 8px 24px;
    }
}

@media (min-width: 768px) {
    .jss1355 {
        padding: 0px 0px 8px 0px;
    }
}

.jss1362 {
    width: 100%;
    display: flex;
    align-items: center;
}

.MuiTypography-subtitle1 {
    font-size: 1.1428571428571428rem;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: 400;
    line-height: 1.75;
}

.jss112 {
    font-size: 1.2857142857142858rem;
    font-weight: 400;
    line-height: 1.6428571428571428rem;
    letter-spacing: -0.5px;
}

@media (min-width: 768px) {
    .jss112 {
        font-size: 1.3571428571428572rem;
        line-height: 1.7857142857142858rem;
    }
}

@media (min-width: 1200px) {
    .jss112 {
        font-size: 1.4285714285714286rem;
        line-height: 1.8571428571428572rem;
    }
}

.jss1361 {
    color: #353535;
}

.jss1366 {
    width: 100%;
}

.jss1358 {
    color: #707070;
}

.jss1370 {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.jss1367 {
    width: 100%;
}

@media (min-width: 1024px) {
    .jss1367 {
        margin-top: 16px;
    }
}

.MuiTypography-h5 {
    font-size: 1.7142857142857142rem;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: 400;
    line-height: 1.334;
}

.jss110 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.9285714285714286rem;
    letter-spacing: -0.5px;
}

@media (min-width: 768px) {
    .jss110 {
        font-size: 1.6428571428571428rem;
        line-height: 2.142857142857143rem;
        letter-spacing: -0.5px;
    }
}

@media (min-width: 1200px) {
    .jss110 {
        font-size: 1.7857142857142858rem;
        line-height: 2.2857142857142856rem;
    }
}

.jss1369 {
    width: 100%;
    text-align: right;
}

.jss1313 {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .jss1313 {
        flex-direction: column-reverse;
    }
}

.jss1372 {
    display: flex;
    padding: 16px 24px 16px;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 768px) {
    .jss1372 {
        padding: 8px 0px 0px;
    }
}

.jss43.jss36 .MuiButton-startIcon {
    margin-top: -2px;
}

@media (min-width: 1024px) {
    .jss43.jss36 .MuiButton-startIcon {
        margin-top: -2px;
    }
}

.jss1374 {
    top: 0;
    left: 0;
    width: 100%;
    height: 128px;
    z-index: 2;
    position: fixed;
    align-items: center;
    border-radius: 0;
}

@media (min-width: 1440px) {
    .jss1374 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.jss1375 {
    display: none;
}

.jss1374 .MuiGrid-container {
    height: 100%;
}

@media (min-width: 1440px) {
    .jss1374 .MuiGrid-container {
        width: calc(100% - 144px);
        max-width: 1296px;
    }
}

.MuiGrid-container {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

@media (min-width: 768px) {
    .MuiGrid-grid-md-7 {
        flex-grow: 0;
        max-width: 58.333333%;
        flex-basis: 58.333333%;
    }
}

.jss1376 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media (min-width: 768px) {
    .jss1376 {
        padding-left: 24px;
    }
}

@media (min-width: 1200px) {
    .jss1376 {
        padding-left: 32px;
    }
}

@media (min-width: 1440px) {
    .jss1376 {
        padding-left: 0px;
    }
}

.jss1378 {
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 1024px) {
    .MuiGrid-grid-lg-5 {
        flex-grow: 0;
        max-width: 41.666667%;
        flex-basis: 41.666667%;
    }
}

.jss1411 {
    margin: 0px 24px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #EAEAEA;
}

@media (min-width: 420px) {
    .jss1411 {
        display: flex;
        padding: 8px 8px 8px 16px;
        align-items: center;
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .jss1411 {
        margin: 8px 0px 16px 0px;
        padding: 16px 16px 16px 24px;
    }
}

@media (min-width: 1024px) {
    .jss1411 {
        padding: 12px 8px 12px 16px;
        margin-top: 0px;
    }
}

.jss1414 {
    color: #353535;
    margin-right: 16px;
}

@media (min-width: 768px) {
    .jss1414 {
        margin-right: 16px;
    }
}

@media (min-width: 768px) {
    .jss116 {
        font-size: 1.2857142857142858rem;
        line-height: 1.9285714285714286rem;
        letter-spacing: -.18px;
    }
}

.jss1412 {
    color: #353535;
}

.jss1413 {
    color: #353535;
}

@media (min-width: 768px) {
    .jss1415 {
        padding: 16px 0;
    }
}

.jss1416 {
    margin: 0px 16px 32px 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 420px) {
    .jss1416 {
        margin: 0px 24px 32px;
        align-items: self-start;
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .jss1416 {
        margin: 0 0px 24px 0px;
    }
}

@media (min-width: 420px) {
    .jss1416:last-of-type {
        margin-bottom: 24px;
    }
}

@media (min-width: 768px) {
    .jss1416:last-of-type {
        margin-bottom: 0;
    }
}

.jss1416:first-of-type {
    margin-top: 16px;
}

.jss1417 {
    width: 64px;
    height: 64px;
}

.jss1418 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 420px) {
    .jss1418 {
        align-items: flex-start;
        margin-left: 16px;
    }
}

.jss1440 {
    font-size: 1.1428571428571428rem;
    font-weight: 600;
    line-height: 2rem;
}

.jss1419 {
    color: #353535;
}

.jss1439 {
    font-size: 1.1428571428571428rem;
    font-weight: 400;
    line-height: 2rem;
}

@media (min-width: 420px) {
    .jss1420 {
        margin-bottom: 8px;
    }
}

.jss1420 {
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    .jss1421 {
        margin-left: 0px;
        padding-bottom: 0px;
    }
}

@media (min-width: 420px) {
    .jss1421 {
        margin-left: 0px;
    }
}

.jss1421 {
    display: flex;
    align-items: flex-end;
    padding-top: 4px;
    flex-direction: row;
}

@media (min-width: 420px) {
    .jss1422 {
        margin-right: 12px;
    }
}

.jss1422 {
    margin-right: 8px;
}

.jss1423 {
    display: flex;
    align-items: center;
    text-underline-position: under;
}